<h1 class="heading">Veena's Cafeteria</h1>

<p class="home-para">
  If you are a new customer, <%= link_to "sign up here", new_user_path %>
</p>

<p class="home-para">
  If you are an existing customer, <%= link_to "sign in here", new_session_path %>
</p>
