.submenu-heading {
  font-size: 18px;
  margin: 20px 0 0 0;
}

.submenu-item {
  margin: 10px 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}

.item-price,
.gray-color {
  color: rgb(66, 66, 66);
  margin: 0 10px;
  font-size: 0.8rem;
}

.cart-section {
  margin-bottom: 30px;
}

.quantity-field {
  width: 60px;
}

.green-color {
  color: darkgreen;
}

.complete-btn {
  border: none;
  color: white;
  background-color: darkgreen;
  padding: 10px 30px;
  cursor: pointer;
  margin: 20px;
}

.order {
  margin: 30px;
  padding: 30px;
  background-color: rgb(236, 236, 236);
}

.trash-btn {
  height: 20px;
  width: 20px;
  margin-left: 50px;
}

.flex-li {
  display: flex;
  align-items: center;
  padding: 10px;
  /* justify-content: space-between; */
}
